doctype html
html
    head
      title My Project
    body
     h1 Welcome!
     br
     br
     br
     a(class='button', href='/signup') Sign Up
     br
     br
     a(class = 'button' href='/users') Show Users
     br
     br
     a(class = 'button' href='/FindAUser') Find A User
     br
     br
     a(class = 'button' href='/NumberRange') Number Range
