doctype html
html
    head
      title My Project
    body
     h1 Welcome!
     br
     br
     br
     a(class='button', href='/signup') Sign Up
     br
     br
     a(class = 'button' href='/users') Show Users  

              
            
       
