doctype html
html
    head
      title My Project
    body
     h1 Hello this is my project
     input
     (
      type = 'text'
      name = 'firstname'
     )
     input
     (
      type = 'text'
      name = 'lastname'
     )

     input
     (
      type = 'text'
      name = 'location'
     )
