doctype html
html
    head
      title My Project
    body
     h1 Sign Up
      h2 
      //Register form going to be used for the mongodb connection
      form(method='POST' action='/')
        div.form-group
          label(for='firstname') First Name: 
          br 
          br
          input#name.form-control(type='text',placeholder='Please Enter your First name' name='firstname')
        div.form-group
          label(for='lastname') Last Name:
          br 
          br
          input#name.form-control(type='text',placeholder='Please Enter Last name' name='lastname')
        div.form-group
          label(for='location') Location:
          br 
          br
          input#name.form-control(type='text',placeholder='Please Enter your Location' name='location')   
        button.btn.btn-primary(type='submit') Submit     

              
            
       
