doctype html
html
    head
    title number range
    h1 #{title}
    //Create number range form
    form(method='POST' action='/getnumber')
    div.form-group
     label(for='EnterNumber') Please Enter a Number
     br
     br
     input#name.form-control(type='text',placeholder='Enter Your Number' name='number')
     br
     br
     button.btn.btn-primary(type='submit') Submit
